@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "flexbox";

html, body {
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 400;
    font-family: 'Lato';
}

h1{
  font-size: 4em;
  margin-bottom: 20px;
}

.form-control{
  box-shadow: inset none !important, none !important;
  border-radius: 0;
}

form{
  background: white;
  padding:20px;
  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  div{
    @include flex(4);
  }
  .github-url{
    font-size: 2em;
    text-align: center;
  }
  .slash{
    @include flex(1);
    font-size: 2em;
    color: #A4A4A4;
    text-align: center
  }
  input[type="text"]{
    height: 42px;
    padding: 20px;
  }
  .btn{
    padding:10px;
    border-radius: 0;
    height: 42px;
    display: table;
    position: relative;
    margin: auto;
    width:100%;
  }
}

.examples{
  padding:20px;
  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  div{
    padding: 5px;
    @include flex(2);
    img{
      display: table;
      position: relative;
      margin: 0 auto 10px auto;
    }
  }
}

@media(max-width:767px){
  form{
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-start);
    div{
      @include flex(4);
    }
    .slash{
      display: none;
    }
  }

  .examples{
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-start);
    div{
      @include flex(2);
    }
  }
}


